@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}
.padre a {
  text-decoration: none;
}
.padre .header {
  background-color: rgb(241, 10, 10);
  background-position: end;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}
.padre .menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.padre .margen-interno {
  padding: 10px 50px;
}
.padre .logo {
  flex: 1 1 auto;
}
.padre .logo a {
  color: #fff;
  font-size: 30px;
}
.padre .logo a:hover {
  color: #343434;
}
.padre .logo img {
  max-height: 50px;
  margin-right: 10px;
}
.padre .nav {
  flex: 1;
}
.padre .nav a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.padre .nav a:hover {
  color: #343434;
}
.padre .nav li {
  list-style: none;
}

.h1, h1 {
  color: #fff;
}

.texto-principal {
  height: 100px;
  padding: 30px 50px 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 21px;
}

.h1 {
  font-weight: bold;
  line-height: 1.6;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding: 0px 0 10px 0;
  color: black;
}

.article-videos, .social {
  display: flex;
}

.navegacion {
  background: #000;
  flex: 1 1 100%;
  margin: 10px 10px 0 0px;
}
.navegacion a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.aside {
  flex: 1 1 auto;
  margin: 10px 5px 10px 0;
}
.aside img {
  width: 100%;
}

.texto {
  text-align: center;
}
.texto a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.social {
  flex: 1 1 auto;
}
.social a {
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
}
.social a:hover {
  color: #343434;
}

.section-history {
  border-top: 2px solid #f7f7f7; /* Establece un borde de 2 píxeles de ancho y color gris oscuro (#333) */
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style-type: disc; /* Tipo de viñeta (puedes usar 'circle', 'square', etc.) */
  padding-left: 1em;
  margin-left: 50px;
  text-align: justify;
}

figure {
  float: right;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 15px;
}
figure img {
  border-radius: 5px;
  float: right;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 15px;
}

figcaption {
  float: right;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 15px;
}

/*Añado altura de carrousel*/
.w-95 {
  width: 95%;
}

.article-videos {
  flex: 1 1 calc(33.33% - 10px);
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  background: #ececec;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.section {
  background: #f7f7f7;
  display: flex;
  margin-top: 20px;
}

.articulos {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.article {
  flex: 1 1 45%; /* Se mantiene la segunda definición */
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  background: #ececec;
}
.article img {
  width: 100%;
}
.article a {
  color: #fff;
  font-size: 13px;
  padding: 10px;
  background: #000;
  margin: 10px 0;
  display: inline-block;
}
.article a:hover {
  color: rgb(241, 10, 10);
}

.footer {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pie {
  display: flex;
  align-items: center;
}
.pie img {
  max-height: 50px;
  margin-right: 10px;
}
.pie a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.calendario {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calendar {
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
  flex: 1 1 calc(25% - 20px); /* Calcula el ancho para cuatro cuadrantes por fila, considerando márgenes */
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px;
  background: #ececec;
}
.calendar img {
  width: 100%;
}
.calendar a {
  color: #fff;
  font-size: 13px;
  padding: 10px;
  background: black;
  margin: 10px 0;
  display: inline-block;
}/*# sourceMappingURL=styles.css.map */