@mixin width($width-size){
    width:$width-size;
}
@mixin font-size($font-size-sel){
    font-size:$font-size-sel;
}

%display-flex {
    display:flex;
}

.navegacion{
    background: #000;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;

    a {
        color: $blanco-principal;
        @include font-size(11px);
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }
}

.aside{
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;

    img{
        @include width(100%);
    }
}

.texto {
    text-align: center;

    a {
        color: $blanco-principal;
        @include font-size(11px);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.social{
    flex: 1 1 auto; 
    @extend %display-flex;    
    
    a{
        @include font-size(18px);
        color: $blanco-principal;
        padding: 0 5px;

        &:hover{
            color: $gris-topo-hover;
        }
    }
}

.section-history  {
    border-top: 2px solid $blanco-background; /* Establece un borde de 2 píxeles de ancho y color gris oscuro (#333) */
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
ul {
    padding: 0;
    
}

li {
    margin-bottom: 10px;
    list-style-type: disc; /* Tipo de viñeta (puedes usar 'circle', 'square', etc.) */
    padding-left: 1em; 
    margin-left: 50px;
    text-align: justify;
}

figure{
    float:right;
    @include width(150px); 
    height: 150px;
    object-fit: cover;
    margin-left: 15px;

    img{
        border-radius: 5px;
        float: right;
        @include width(150px); 
        height: 150px; 
        object-fit: cover;
        margin-left: 15px;
    }
}

figcaption {
    float:right;
    @include width(150px); 
    height: 150px;
    object-fit: cover;
    margin-left: 15px;
}

/*Añado altura de carrousel*/
.w-95 {
    @include width(95%);
  }

