.section{
    background: $blanco-background;
    display: flex;
    margin-top: 20px;
}
.articulos{
    background: $blanco-background;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.article {
    flex: 1 1 45%; /* Se mantiene la segunda definición */
  
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    background: #ececec;
  
    img {
      width: 100%;
    }
  
    a {
      color: $blanco-principal;
      font-size: 13px;
      padding: 10px;
      background: #000;
      margin: 10px 0;
      display: inline-block;
  
      &:hover {
        color: $rojo-principal;
      }
    }
}


.navegacion{
    background: #000;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;

    a {
        color: $blanco-principal;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }
}

.aside{
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;

    img{
        width: 100%;
    }
}

.footer{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.pie{
    display: flex;
    align-items: center; 
    
    img {
        max-height: 50px;
        margin-right: 10px;
    }

    a{
        color: $blanco-principal;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }
}

.texto {
    text-align: center;

    a {
        color: $blanco-principal;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.social{
    flex: 1 1 auto; 
    display: flex;    
    
    a{
        font-size: 18px;
        color: $blanco-principal;
        padding: 0 5px;

        &:hover{
            color: $gris-topo-hover;
        }
    }
}

.section-history  {
    border-top: 2px solid white; /* Establece un borde de 2 píxeles de ancho y color gris oscuro (#333) */
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
ul {
    padding: 0;
    
}

li {
    margin-bottom: 10px;
    list-style-type: disc; /* Tipo de viñeta (puedes usar 'circle', 'square', etc.) */
    padding-left: 1em; 
    margin-left: 50px;
    text-align: justify;
}

figure{
    float:right;
    width: 150px; 
    height: 150px;
    object-fit: cover;
    margin-left: 15px;

    img{
        border-radius: 5px;
        float: right;
        width: 150px; 
        height: 150px; 
        object-fit: cover;
        margin-left: 15px;
    }
}

figcaption {
    float:right;
    width: 150px; 
    height: 150px;
    object-fit: cover;
    margin-left: 15px;
}

/*Añado altura de carrousel*/
.w-95 {
    width: 95% !important;
  }
.calendario {
    background: $blanco-background;
    flex: 2 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.calendar {
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
    flex: 1 1 calc(25% - 20px); /* Calcula el ancho para cuatro cuadrantes por fila, considerando márgenes */
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px;
    background: #ececec;

    img {
        width: 100%;
    }

    a{
        color: $blanco-principal;
        font-size: 13px;
        padding: 10px;
        background: #000;
        margin: 10px 0;
        display: inline-block;
    }
}

.article-videos{
    flex: 1 1 calc(33.33% - 10px);
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    background: #ececec;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}