$rojo-principal: rgb(241, 10, 10);
$menu-background: rgba(0,0,0,.1);
$menu-border-bottom:rgba(255, 255, 255, .5);
$blanco-principal: #fff;
$gris-topo-hover: #343434;
$blanco-background: #f7f7f7;
$blanco-secundario: #ececec;
$black: black;